.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
}

.table th {
  text-align: left;
  padding: 10px;
}

.table td {
  padding: 10px;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
}

.pending {
  background-color: #f5b94133;
}

.done {
  background-color: #24c08d33;
}

.cancelled {
  background-color: #ff5c7a33;
}

